[submodule "dmenu"]
	path = dmenu
	url = https://github.com/LCRERGO/dmenu
[submodule "st"]
	path = st
	url = https://github.com/LCRERGO/st
[submodule "surf"]
	path = surf
	url = https://github.com/LCRERGO/surf
